In [12]:
import json
import requests
import pandas as pd
import numpy as np

from tqdm import tqdm_notebook
from pandas import DataFrame

In [2]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNTAzNDY4MjEzIiwiYXV0aF9pZCI6IjIiLCJ0b2tlbl90eXBlIjoiQWNjZXNzVG9rZW4iLCJzZXJ2aWNlX2lkIjoiNDMwMDExNDgxIiwiWC1BcHAtUmF0ZS1MaW1pdCI6IjIwMDAwOjEwIiwibmJmIjoxNTgxMDg0OTg5LCJleHAiOjE2NDQxNTY5ODksImlhdCI6MTU4MTA4NDk4OX0.tg1PMEcRjukDKo3SpCrbhXKQk82nIsKVXRv6LosKPro'

## 매치 종류

In [3]:
match_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/matchtype.json')
match_parsed_data = match_url.json()
match_type = pd.DataFrame(match_parsed_data)

In [4]:
match_type.head()

   desc  matchtype
0  공식경기         50
1  감독모드         52

## 선수 고유 식별자

In [9]:
spId_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spid.json')
spId_parsed_data = spId_url.json()
spId = pd.DataFrame(spId_parsed_data)

In [10]:
spId.head()

          id       name
0  101000001    데이비드 시먼
1  101000195     로비 파울러
2  101000393     테디 셰링엄
3  101000805      옌스 레만
4  101001040  호베르투 카를루스

## 선수 포지션

In [7]:
spposition_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spposition.json')
spposition_parsed_data = spposition_url.json()
spposition = pd.DataFrame(spposition_parsed_data)

In [8]:
len(spposition)

29

## 조회할 선수 목록 만들기

In [11]:
position = list(spposition['spposition'])
player = list(spId['id'])

list_with_dic = [{"id": x, "po":y} for x in player for y in position]
list_with_dic[0:29]

[{'id': 101000001, 'po': 0},
 {'id': 101000001, 'po': 1},
 {'id': 101000001, 'po': 2},
 {'id': 101000001, 'po': 3},
 {'id': 101000001, 'po': 4},
 {'id': 101000001, 'po': 5},
 {'id': 101000001, 'po': 6},
 {'id': 101000001, 'po': 7},
 {'id': 101000001, 'po': 8},
 {'id': 101000001, 'po': 9},
 {'id': 101000001, 'po': 10},
 {'id': 101000001, 'po': 11},
 {'id': 101000001, 'po': 12},
 {'id': 101000001, 'po': 13},
 {'id': 101000001, 'po': 14},
 {'id': 101000001, 'po': 15},
 {'id': 101000001, 'po': 16},
 {'id': 101000001, 'po': 17},
 {'id': 101000001, 'po': 18},
 {'id': 101000001, 'po': 19},
 {'id': 101000001, 'po': 20},
 {'id': 101000001, 'po': 21},
 {'id': 101000001, 'po': 22},
 {'id': 101000001, 'po': 23},
 {'id': 101000001, 'po': 24},
 {'id': 101000001, 'po': 25},
 {'id': 101000001, 'po': 26},
 {'id': 101000001, 'po': 27},
 {'id': 101000001, 'po': 28}]

한 선수 당 가질 수 있는 모든 포지션의 조합

## API 조회하기
TOP 10,000 랭커 유저가 사용한 선수의 20경기 평균 스탯을 조회합니다.
선수의 고유 식별자와 포지션의 목록으로 랭커 유저가 사용한 선수의 평균 스탯 기록을 조회할 수 있습니다.
한번에 너무 많은 선수목록을 입력할 경우 413 Request Entity Too Large 에러가 반환될 수 있습니다.
한번에 호출하는 선수의 수는 50명이 적당합니다.

조회하고자 하는 선수 목록을 다음과 같이 구성하여 {players} 파라미터로 전송하면 API를 조회할 수 있습니다 :

{players} : "id", "po"필드를 가지고 있는 Json Object Array
- id : 선수 고유 식별자 (spid, /metadata/spid API 참고)
- po : 선수 포지션 (spposition, /metadata/spposition API 참고)

ex) [{"id":101001183,"po":7}, {"id":214003647,"po":25},…]

*데이터는 매일 3, 9, 15, 21시에 갱신을 시작하며 최대 한시간까지 소요될 수 있습니다.
갱신된 데이터는 갱신시작 시점을 기준으로 3시간 전 데이터까지 반영됩니다.

In [13]:
headers = {'Authorization' : api_key}
ranker = pd.DataFrame(columns=['createDate', 'spId', 'spPosition', 'status'])

term = 29*6

try :
    for i in tqdm_notebook(range(1, len(list_with_dic), term)):
        r = requests.get("https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype=50&players="+str(list_with_dic[i:i+term]), headers = headers)
        #print("term: {}, get: {}".format(term, len(pd.DataFrame(r.json()))))
        if r.status_code == 404 :
            continue
        ranker = ranker.append(pd.DataFrame(r.json()))

except Exception as e :
    print("Error message: ", e)
    

ranker.reset_index( inplace = True )

HBox(children=(IntProgress(value=0, max=5746), HTML(value='')))

- term: 보낼 데이터 개수, 28개가 한 묶음으로 *를 사용하여 배수 지정 ( 8배수부터 오류 )
- get: 받은 데이터 개수


- [1:28000]을 지우면 전체 데이터셋에 대해서 데이터 가져오기


- ranker.reset_index(inplace=True): 행 번호 초기화


- r.status_code가 404인 경우 continue

In [14]:
ranker.head()

,index,createDate,spId,spPosition,status
0,0,2019-12-28T02:30:00,101000001,28,"{'shoot': 0.0, 'effectiveShoot': 0.0, 'assist'..."
1,1,2020-02-27T02:30:00,101000195,4,"{'shoot': 0.0, 'effectiveShoot': 0.0, 'assist'..."
2,2,2020-02-19T02:30:00,101000195,12,"{'shoot': 2.0, 'effectiveShoot': 2.0, 'assist'..."
3,3,2020-02-09T02:30:00,101000195,14,"{'shoot': 0.0, 'effectiveShoot': 0.0, 'assist'..."
4,4,2020-01-25T02:30:00,101000195,15,"{'shoot': 0.5, 'effectiveShoot': 0.5, 'assist'..."

```status``` 열이 dictionary로 되어 있다. 열 자체를 dictionary로 변환하고 전치해서 데이터프레임에 합친다.

In [18]:
rankerNew = ranker.join(pd.DataFrame(ranker["status"].to_dict()).T)
rankerNew.drop(['index', 'status'], axis=1, inplace = True)

In [19]:
rankerNew.head()

,createDate,spId,spPosition,assist,block,dribble,effectiveShoot,goal,matchCount,passSuccess,passTry,shoot,tackle
0,2019-12-28T02:30:00,101000001,28,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
1,2020-02-27T02:30:00,101000195,4,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0
2,2020-02-19T02:30:00,101000195,12,0.5,0.0,85.0,2.0,0.0,2.0,14.0,16.5,2.0,0.0
3,2020-02-09T02:30:00,101000195,14,2.0,0.0,0.0,0.0,0.0,1.0,13.0,14.0,0.0,0.0
4,2020-01-25T02:30:00,101000195,15,0.0,0.0,228.0,0.5,0.0,2.0,14.5,15.5,0.5,0.0

메모리 사용량 최적화를 위해 컬럼의 type를 변경한다.

In [20]:
type_dic = {
    'createDate': 'datetime64',
    'spId': 'int32',
    'spPosition': 'int32',
    'matchCount': 'int32'
}
rankerNew = rankerNew.astype(type_dic)

rankerNew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128263 entries, 0 to 128262
Data columns (total 13 columns):
createDate        128263 non-null datetime64[ns]
spId              128263 non-null int32
spPosition        128263 non-null int32
assist            128263 non-null float64
block             128263 non-null float64
dribble           128263 non-null float64
effectiveShoot    128263 non-null float64
goal              128263 non-null float64
matchCount        128263 non-null int32
passSuccess       128263 non-null float64
passTry           128263 non-null float64
shoot             128263 non-null float64
tackle            128263 non-null float64
dtypes: datetime64[ns](1), float64(9), int32(3)
memory usage: 11.3 MB

In [21]:
rankerNew.head()

,createDate,spId,spPosition,assist,block,dribble,effectiveShoot,goal,matchCount,passSuccess,passTry,shoot,tackle
0,2019-12-28 02:30:00,101000001,28,0.0,0.0,0.0,0.0,0.0,2,0.0,0.0,0.0,0.0
1,2020-02-27 02:30:00,101000195,4,0.0,0.0,0.0,0.0,0.0,1,2.0,2.0,0.0,0.0
2,2020-02-19 02:30:00,101000195,12,0.5,0.0,85.0,2.0,0.0,2,14.0,16.5,2.0,0.0
3,2020-02-09 02:30:00,101000195,14,2.0,0.0,0.0,0.0,0.0,1,13.0,14.0,0.0,0.0
4,2020-01-25 02:30:00,101000195,15,0.0,0.0,228.0,0.5,0.0,2,14.5,15.5,0.5,0.0

## 저장

In [22]:
import pickle

# save
with open('data.pickle', 'wb') as f:
    pickle.dump(rankerNew, f, pickle.HIGHEST_PROTOCOL)

# load
with open('data.pickle', 'rb') as f:
    data = pickle.load(f)

데이터의 크기와 메모리 사용량을 줄이기 위해 ```pickle``` 포맷으로 저장한다.

### reference
- http://hleecaster.com/python-how-to-split-a-list-into-chunks/
- https://programmers.co.kr/learn/courses/4008/lessons/12738     
- https://specialmylife.tistory.com/entry/pandas-DataFrame-%EC%82%AC%EC%9A%A9%EB%B2%95-%EC%A0%95%EB%A6%AC%EC%9E%91%EC%97%85%EC%A4%91
- https://www.youtube.com/watch?v=0Vm9Yi_ig58&t=873s

### source
https://developers.nexon.com/fifaonline4