In [39]:
import json
import requests
import pandas as pd

In [2]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNTAzNDY4MjEzIiwiYXV0aF9pZCI6IjIiLCJ0b2tlbl90eXBlIjoiQWNjZXNzVG9rZW4iLCJzZXJ2aWNlX2lkIjoiNDMwMDExNDgxIiwiWC1BcHAtUmF0ZS1MaW1pdCI6IjIwMDAwOjEwIiwibmJmIjoxNTgxMDg0OTg5LCJleHAiOjE2NDQxNTY5ODksImlhdCI6MTU4MTA4NDk4OX0.tg1PMEcRjukDKo3SpCrbhXKQk82nIsKVXRv6LosKPro'

## 매치 종류

In [48]:
match_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/matchtype.json')
match_parsed_data = match_url.json()
match_type = pd.DataFrame(match_parsed_data)

In [49]:
match_type.head()

   desc  matchtype
0  공식경기         50
1  감독모드         52

## 선수 고유 식별자

In [50]:
spid_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spid.json')
spid_parsed_data = spid_url.json()
spid = pd.DataFrame(spid_parsed_data)

In [56]:
spid.head()

          id       name
0  101000001    데이비드 시먼
1  101000195     로비 파울러
2  101000393     테디 셰링엄
3  101000805      옌스 레만
4  101001040  호베르투 카를루스

In [58]:
len(spid)

34095

## 선수 포지션

In [59]:
spposition_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spposition.json')
spposition_parsed_data = spposition_url.json()
spposition = pd.DataFrame(spposition_parsed_data)

In [62]:
spposition

   desc  spposition
0    GK           0
1    SW           1
2   RWB           2
3    RB           3
4   RCB           4
5    CB           5
6   LCB           6
7    LB           7
8   LWB           8
9   RDM           9
10  CDM          10
11  LDM          11
12   RM          12
13  RCM          13
14   CM          14
15  LCM          15
16   LM          16
17  RAM          17
18  CAM          18
19  LAM          19
20   RF          20
21   CF          21
22   LF          22
23   RW          23
24   RS          24
25   ST          25
26   LS          26
27   LW          27
28  SUB          28

In [61]:
len(spposition)

29